:root {
  --primary-color: hsl(240, 100%, 35%);
  --secondary-color: hsl(240, 100%, 85%);
  --background-color: hsl(240, 100%, 90%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
}

.line {
  border: 3px solid var(--primary-color);
  width: 80%;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 5px outset var(--primary-color);
  background-color: var(--background-color);
  width: 50%;
  height: 50%;
  max-width: 500px;
  margin-bottom: 10%;
}

h1 {
  text-align: center;
}

#main-body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 40px;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

#description-label {
  text-align: center;
}

input {
  margin-top: 1.5rem;
  width: 75%;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: 5px outset var(--primary-color);
}

button {
  height: 3rem;
  width: 100%;
  border: 5px outset var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  background-color:var(--secondary-color);
}

button:hover {
  cursor: pointer;
  background-color: var(--background-color);
}

#result-text {
  width: 90%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

#result-table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--background-color);
  table-layout: fixed;
}

#result-table th,
#result-table td {
  border: 1px solid var(--primary-color);
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
}

#result-table th {
  background-color: var(--secondary-color);
}

#result-table tr {
  width: calc(100% / 3); 
}

@media only screen and (max-width: 600px) {
  main {
    width: 90%;
  }

  #main-body {
    width: 90%;
  }

  input {
    width: 90%;
  }
}


